{% extends 'mainapp/base.html'%}
{% load static %}

{% block 'content' %}
    <div class="container-fluid header bg-white p-0">
        <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
            <div class="col-md-6 p-5 mt-lg-5">
                <h1 class="display-5 animated fadeIn mb-4">Подберите
                    <span class="text-primary">Идеальную сплит-систему,</span> чтобы жить в комфорте
                </h1>
            </div>
            <div class="col-md-6 animated fadeIn">
                <div class="owl-carousel header-carousel">
                    <div class="owl-carousel-item">
                        <img class="img-fluid carousel" src="{% static 'img/preview-8.jpeg' %}" alt="">
                    </div>
                    <div class="owl-carousel-item">
                        <img class="img-fluid carousel" src="{% static 'img/pppp.jpg' %}" alt="">
                    </div>
                    <div class="owl-carousel-item">
                        <img class="img-fluid carousel" src="{% static 'img/preview-6.jpeg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="about" class="container-xxl pt-5rem">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="about-img position-relative overflow-hidden p-5 pe-0">
                        <img class="img-fluid w-100" src="{% static 'img/professional-1.jpg' %}">
                    </div>
                </div>
                <div id="top-menu" class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h1 class="mb-4">Команда профессионалов №1</h1>
                    <p class="mb-4">Опытные специалисты помогут создать комфортный климат в вашей квартире,
                        офисе, доме.</p>
                    <p><i class="fa fa-check text-primary me-3"></i>Поможем с выбором климатической системы</p>
                    <p><i class="fa fa-check text-primary me-3"></i>Учтем ваши пожелания и финансовые возможности</p>
                    <p><i class="fa fa-check text-primary me-3"></i>Смонтируем систему под ключ в кратчайшие сроки</p>
                    <a class="btn btn-primary py-3 px-5 mt-3" href="#contact">Связаться с нами</a>
                </div>
            </div>
        </div>
    </div>

    <div id="services" class="container-xxl pt-5rem">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="mb-3">Услуги</h1>
<!--                    <p>Наша компания предоставляет полный спектор услуг</p>-->
                <h4>На все виды выполненных работ предоставляется ГАРАНТИЯ</h4>
            </div>
            <div class="row g-4">
                <div class="col-lg-3 service col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item rounded overflow-hidden cards-size">
                        <div class="position-relative">
                            <img class="img-fluid cards-img" src="{% static 'img/service-1.png' %}" alt="">
                            <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                            </div>
                        </div>
                        <div class="text-center p-4 mt-3">
                            <h5 class="fw-bold mb-0">Монтаж</h5>
                            <small>Кондиционеров и систем вентиляции</small>
                            <br>
                            <br>
                            <h6 style="margin-top: 72px;">Стоимость от 10 000 &#8381;</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 service col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item rounded overflow-hidden cards-size">
                        <div class="position-relative">
                            <img class="img-fluid cards-img" src="{% static 'img/service-2.png' %}" alt="">
                            <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                            </div>
                        </div>
                        <div class="text-center p-4 mt-3">
                            <h5 class="fw-bold mb-0">Сервисное обслуживание</h5>
                            <small>Канальных, касетных, VRV систем, а так же приточно-вытяжных системы, рекуператоров</small>
                            <br>
                            <br>
                            <h6>Стоимость от 3 000 &#8381;</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 service col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item rounded overflow-hidden cards-size">
                        <div class="position-relative">
                            <img class="img-fluid cards-img" src="{% static 'img/development.png' %}" alt="">
                            <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                            </div>
                        </div>
                        <div class="text-center p-4 mt-3">
                            <h5 class="fw-bold mb-0">Проектирование</h5>
                            <small>Интегрируем нашу систему в Ваш дизайн проект</small>
                            <br>
                            <br>
                            <h6 style="margin-top: 48px;">Стоимость от 20 000 &#8381;</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 service col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="team-item rounded overflow-hidden cards-size">
                        <div class="position-relative">
                            <img class="img-fluid cards-img" src="{% static 'img/service-3.png' %}" alt="">
                            <div class="position-absolute start-50 top-100 translate-middle d-flex align-items-center">
                            </div>
                        </div>
                        <div class="text-center p-4 mt-3">
                            <h5 class="fw-bold mb-0">Примеры наших работ</h5>
                            <br>
                            <br>
                            <h6 class="gallery" style="margin-top: 72px;">
                                <a onclick="openModal();currentSlide(1)">Открыть галерею</a>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="equipment" class="container-xxl pt-5rem">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="mb-3">Оборудование</h1>
                <p>Поиск идеальной системы - это трудный вопрос. Чтобы у Вас не было сомнений,
                    по поводу качества оборудования, мы используем в работе технику только проверенных производителей!</p>
            </div>
            <div class="row g-4">
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <a class="cat-item d-block bg-light text-center rounded">
                        <div class="rounded">
                            <div class="icon">
                                <img class="img-fluid" src="{% static 'img/logo_c_1.png' %}" alt="Icon">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <a class="cat-item d-block bg-light text-center rounded">
                        <div class="rounded">
                            <div class="icon">
                                <img class="img-fluid" src="{% static 'img/logo_c_2.png' %}" alt="Icon">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <a class="cat-item d-block bg-light text-center rounded">
                        <div class="rounded">
                            <div class="icon">
                                <img class="img-fluid" src="{% static 'img/logo_c_3.png' %}" alt="Icon">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <a class="cat-item d-block bg-light text-center rounded">
                        <div class="rounded">
                            <div class="icon">
                                <img class="img-fluid" src="{% static 'img/logo_c_4.png' %}" alt="Icon">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <a class="cat-item d-block bg-light text-center rounded">
                        <div class="rounded">
                            <div class="icon">
                                <img class="img-fluid" src="{% static 'img/logo_c_5.png' %}" alt="Icon">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <a class="cat-item d-block bg-light text-center rounded">
                        <div class="rounded">
                            <div class="icon">
                                <img class="img-fluid" src="{% static 'img/logo_c_6.png' %}" alt="Icon">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <a class="cat-item d-block bg-light text-center rounded">
                        <div class="rounded">
                            <div class="icon">
                                <img class="img-fluid" src="{% static 'img/logo_c_7.png' %}" alt="Icon">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <a class="cat-item d-block bg-light text-center rounded">
                        <div class="rounded">
                            <div class="icon">
                                <img class="img-fluid" src="{% static 'img/logo_c_8.png' %}" alt="Icon">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <a class="cat-item d-block bg-light text-center rounded">
                        <div class="rounded">
                            <div class="icon">
                                <img class="img-fluid" src="{% static 'img/logo_c_9.png' %}" alt="Icon">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <a class="cat-item d-block bg-light text-center rounded">
                        <div class="rounded">
                            <div class="icon">
                                <img class="img-fluid" src="{% static 'img/logo_c_10.png' %}" alt="Icon">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <a class="cat-item d-block bg-light text-center rounded">
                        <div class="rounded">
                            <div class="icon">
                                <img class="img-fluid" src="{% static 'img/logo_c_11.png' %}" alt="Icon">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <a class="cat-item d-block bg-light text-center rounded">
                        <div class="rounded">
                            <div class="icon">
                                <img class="img-fluid" src="{% static 'img/logo_c_12.jpg' %}" alt="Icon">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <a class="cat-item d-block bg-light text-center rounded">
                        <div class="rounded">
                            <div class="icon">
                                <img class="img-fluid" src="{% static 'img/logo_c_13.png' %}" alt="Icon">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <a class="cat-item d-block bg-light text-center rounded">
                        <div class="rounded">
                            <div class="icon">
                                <img class="img-fluid" src="{% static 'img/logo_c_14.png' %}" alt="Icon">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <a class="cat-item d-block bg-light text-center rounded">
                        <div class="rounded">
                            <div class="icon">
                                <img class="img-fluid" src="{% static 'img/logo_c_15.png' %}" alt="Icon">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>



    <div id="myModal" class="modal">
      <span class="close cursor" onclick="closeModal()">Х</span>
      <div class="modal-content">

        <div class="mySlides">
          <div class="numbertext">1 / 30</div>
          <img src="{% static 'img/gal-1.JPG' %}">
        </div>

        <div class="mySlides">
          <div class="numbertext">2 / 30</div>
          <img src="{% static 'img/gal-2.JPEG' %}">
        </div>

        <div class="mySlides">
          <div class="numbertext">3 / 30</div>
          <img src="{% static 'img/gal-3.JPEG' %}">
        </div>

        <div class="mySlides">
          <div class="numbertext">4 / 30</div>
          <img src="{% static 'img/gal-4.JPEG' %}">
        </div>
        <div class="mySlides">
          <div class="numbertext">5 / 30</div>
          <img src="{% static 'img/gal-5.JPEG' %}">
        </div>
        <div class="mySlides">
          <div class="numbertext">6 / 30</div>
          <img src="{% static 'img/gal-6.JPEG' %}">
        </div>
        <div class="mySlides">
          <div class="numbertext">7 / 30</div>
          <img src="{% static 'img/gal-7.JPEG' %}">
        </div>
        <div class="mySlides">
          <div class="numbertext">8 / 30</div>
          <img src="{% static 'img/gal-8.JPEG' %}">
        </div>
        <div class="mySlides">
          <div class="numbertext">9 / 30</div>
          <img src="{% static 'img/gal-9.JPG' %}">
        </div>
        <div class="mySlides">
          <div class="numbertext">10 / 30</div>
          <img src="{% static 'img/gal-10.JPG' %}">
        </div>
        <div class="mySlides">
          <div class="numbertext">11 / 30</div>
          <img src="{% static 'img/gal-11.JPG' %}">
        </div>
        <div class="mySlides">
          <div class="numbertext">12 / 30</div>
          <img src="{% static 'img/gal-12.JPG' %}">
        </div>
        <div class="mySlides">
          <div class="numbertext">13 / 30</div>
          <img src="{% static 'img/gal-13.JPG' %}">
        </div>
        <div class="mySlides">
          <div class="numbertext">14 / 30</div>
          <img src="{% static 'img/gal-14.JPG' %}">
        </div>
        <div class="mySlides">
          <div class="numbertext">15 / 30</div>
          <img src="{% static 'img/gal-15.JPG' %}">
        </div>
        <div class="mySlides">
          <div class="numbertext">16 / 30</div>
          <img src="{% static 'img/gal-16.JPG' %}">
        </div>
        <div class="mySlides">
          <div class="numbertext">17 / 30</div>
          <img src="{% static 'img/gal-17.JPG' %}">
        </div>
        <div class="mySlides">
          <div class="numbertext">18 / 30</div>
          <img src="{% static 'img/gal-18.JPG' %}">
        </div>
        <div class="mySlides">
          <div class="numbertext">19 / 30</div>
          <img src="{% static 'img/gal-19.JPG' %}">
        </div>
        <div class="mySlides">
          <div class="numbertext">20 / 30</div>
          <img src="{% static 'img/gal-20.JPG' %}">
        </div>
        <div class="mySlides">
          <div class="numbertext">21 / 30</div>
          <img src="{% static 'img/gal-21.JPG' %}">
        </div>
        <div class="mySlides">
          <div class="numbertext">22 / 30</div>
          <img src="{% static 'img/gal-22.JPG' %}">
        </div>
        <div class="mySlides">
          <div class="numbertext">23 / 30</div>
          <img src="{% static 'img/gal-23.JPG' %}">
        </div>
        <div class="mySlides">
          <div class="numbertext">24 / 30</div>
          <img src="{% static 'img/gal-24.JPG' %}">
        </div>
        <div class="mySlides">
          <div class="numbertext">25 / 30</div>
          <img src="{% static 'img/gal-25.JPG' %}">
        </div>
        <div class="mySlides">
          <div class="numbertext">26 / 30</div>
          <img src="{% static 'img/gal-26.JPG' %}">
        </div>
        <div class="mySlides">
          <div class="numbertext">27 / 30</div>
          <img src="{% static 'img/gal-27.JPG' %}">
        </div>
        <div class="mySlides">
          <div class="numbertext">28 / 30</div>
          <img src="{% static 'img/gal-28.JPG' %}">
        </div>
        <div class="mySlides">
          <div class="numbertext">29 / 30</div>
          <img src="{% static 'img/gal-29.JPG' %}">
        </div>
        <div class="mySlides">
          <div class="numbertext">30 / 30</div>
          <img src="{% static 'img/gal-30.JPG' %}">
        </div>


<!--        <div class="caption-container">-->
<!--          <p id="caption"></p>-->
<!--        </div>-->

        <div>
        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>
            <div class="column">
              <img class="demo cursor" src="{% static 'img/gal-1.JPG' %}" onclick="currentSlide(1)" alt="Nature and sunrise">
            </div>
            <div class="column">
              <img class="demo cursor" src="{% static 'img/gal-2.JPEG' %}" onclick="currentSlide(2)" alt="Snow">
            </div>
            <div class="column">
              <img class="demo cursor" src="{% static 'img/gal-3.JPEG' %}" onclick="currentSlide(3)" alt="Mountains and fjords">
            </div>
            <div class="column">
              <img class="demo cursor" src="{% static 'img/gal-4.JPEG' %}" onclick="currentSlide(4)" alt="Northern Lights">
            </div>
            <div class="column">
              <img class="demo cursor" src="{% static 'img/gal-5.JPEG' %}" onclick="currentSlide(5)" alt="Northern Lights">
            </div>
            <div class="column">
              <img class="demo cursor" src="{% static 'img/gal-6.JPEG' %}" onclick="currentSlide(6)" alt="Northern Lights">
            </div>
            <div class="column">
              <img class="demo cursor" src="{% static 'img/gal-7.JPEG' %}" onclick="currentSlide(7)" alt="Northern Lights">
            </div>
            <div class="column">
              <img class="demo cursor" src="{% static 'img/gal-8.JPEG' %}" onclick="currentSlide(8)" alt="Northern Lights">
            </div>
            <div class="column">
              <img class="demo cursor" src="{% static 'img/gal-9.JPG' %}" onclick="currentSlide(9)" alt="Northern Lights">
            </div>
            <div class="column">
              <img class="demo cursor" src="{% static 'img/gal-10.JPG' %}" onclick="currentSlide(10)" alt="Northern Lights">
            </div>
            <div class="column">
              <img class="demo cursor" src="{% static 'img/gal-11.JPG' %}" onclick="currentSlide(11)" alt="Northern Lights">
            </div>
            <div class="column">
              <img class="demo cursor" src="{% static 'img/gal-12.JPG' %}" onclick="currentSlide(12)" alt="Northern Lights">
            </div>
            <div class="column">
              <img class="demo cursor" src="{% static 'img/gal-13.JPG' %}" onclick="currentSlide(13)" alt="Northern Lights">
            </div>
            <div class="column">
              <img class="demo cursor" src="{% static 'img/gal-14.JPG' %}" onclick="currentSlide(14)" alt="Northern Lights">
            </div>
            <div class="column">
              <img class="demo cursor" src="{% static 'img/gal-15.JPG' %}" onclick="currentSlide(15)" alt="Northern Lights">
            </div>
            <div class="column">
              <img class="demo cursor" src="{% static 'img/gal-16.JPG' %}" onclick="currentSlide(16)" alt="Northern Lights">
            </div>
            <div class="column">
              <img class="demo cursor" src="{% static 'img/gal-17.JPG' %}" onclick="currentSlide(17)" alt="Northern Lights">
            </div>
            <div class="column">
              <img class="demo cursor" src="{% static 'img/gal-18.JPG' %}" onclick="currentSlide(18)" alt="Northern Lights">
            </div>
            <div class="column">
              <img class="demo cursor" src="{% static 'img/gal-19.JPG' %}" onclick="currentSlide(19)" alt="Northern Lights">
            </div>
            <div class="column">
              <img class="demo cursor" src="{% static 'img/gal-20.JPG' %}" onclick="currentSlide(20)" alt="Northern Lights">
            </div>
            <div class="column">
              <img class="demo cursor" src="{% static 'img/gal-21.JPG' %}" onclick="currentSlide(21)" alt="Northern Lights">
            </div>
            <div class="column">
              <img class="demo cursor" src="{% static 'img/gal-22.JPG' %}" onclick="currentSlide(22)" alt="Northern Lights">
            </div>
            <div class="column">
              <img class="demo cursor" src="{% static 'img/gal-23.JPG' %}" onclick="currentSlide(23)" alt="Northern Lights">
            </div>
            <div class="column">
              <img class="demo cursor" src="{% static 'img/gal-24.JPG' %}" onclick="currentSlide(24)" alt="Northern Lights">
            </div>
            <div class="column">
              <img class="demo cursor" src="{% static 'img/gal-25.JPG' %}" onclick="currentSlide(25)" alt="Northern Lights">
            </div>
            <div class="column">
              <img class="demo cursor" src="{% static 'img/gal-26.JPG' %}" onclick="currentSlide(26)" alt="Northern Lights">
            </div>
            <div class="column">
              <img class="demo cursor" src="{% static 'img/gal-27.JPG' %}" onclick="currentSlide(27)" alt="Northern Lights">
            </div>
            <div class="column">
              <img class="demo cursor" src="{% static 'img/gal-28.JPG' %}" onclick="currentSlide(28)" alt="Northern Lights">
            </div>
            <div class="column">
              <img class="demo cursor" src="{% static 'img/gal-29.JPG' %}" onclick="currentSlide(29)" alt="Northern Lights">
            </div>
            <div class="column">
              <img class="demo cursor" src="{% static 'img/gal-30.JPG' %}" onclick="currentSlide(30)" alt="Northern Lights">
            </div>
        </div>
      </div>
    </div>

    <div id="contact" class="container-xxl pt-5rem">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="mb-3">Свяжитесь с нами</h1>
                <p>Мы всегда готовы ответить на любые Ваши вопросы!</p>
            </div>
            <div class="row g-4">
                <div class="col-12">
                    <div class="row gy-4">
                        <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                            <div class="bg-light rounded p-3 contact-cards">
                                <div class="d-flex align-items-center bg-white rounded p-3" style="border: 1px dashed #b5c7f2;">
                                    <div class="icon me-3" style="width: 45px; height: 45px;">
                                        <i class="fa fa-map-marker-alt text-primary"></i>
                                    </div>
                                    <span>ул. Курыжова, 19, Домодедово, Московская обл.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                            <div class="bg-light rounded p-3 contact-cards">
                                <div class="d-flex align-items-center bg-white rounded p-3" style="border: 1px dashed #b5c7f2;">
                                    <div class="icon me-3" style="width: 45px; height: 45px;">
                                        <i class="fa fa-envelope-open text-primary"></i>
                                    </div>
                                    <span><a href="mailto:sharov-a83@mail.ru">sharov-a83@mail.ru</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                            <div class="bg-light rounded p-3 contact-cards">
                                <div class="d-flex align-items-center bg-white rounded p-3" style="border: 1px dashed #b5c7f2;">
                                    <div class="icon me-3" style="width: 45px; height: 45px;">
                                        <i class="fa fa-phone-alt text-primary"></i>
                                    </div>
                                    <span><a href="tel:+79151080104">8 (915) 108-01-04</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<!--                <div class="col-md-6 wow fadeInUp" data-wow-delay="0.1s">-->
<!--                    <iframe class="position-relative rounded w-100 h-100"-->
<!--                        src="https://yandex.ru/maps/-/CCUzI-uJ8A"-->
<!--                        frameborder="0" style="min-height: 400px; border:0;" allowfullscreen="" aria-hidden="false"-->
<!--                        tabindex="0"></iframe>-->
<!--                </div>-->
                <div class="col-md-6 wow fadeInUp" data-wow-delay="0.1s" style="position:relative;overflow:hidden;">
                    <a href="https://yandex.ru/maps/10725/domodedovo/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Домодедово</a>
                    <a href="https://yandex.ru/maps/10725/domodedovo/house/ulitsa_kuryzhova_19/Z04YcQBhTkYFQFtvfX94eXphYQ==/inside/?from=mapframe&ll=37.776154%2C55.398844&tab=inside&utm_medium=mapframe&utm_source=maps&z=16" style="color:#eee;font-size:12px;position:absolute;top:14px;">Яндекс Карты</a>
                    <iframe src="https://yandex.ru/map-widget/v1/?from=mapframe&ll=37.776154%2C55.398844&mode=whatshere&tab=inside&whatshere%5Bpoint%5D=37.771732%2C55.398625&whatshere%5Bzoom%5D=17&z=16" width="560" height="410" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe>
                </div>
                <div class="col-md-6">
                    <div class="wow fadeInUp" data-wow-delay="0.5s">
                        <form>
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="name" placeholder="Your Name">
                                        <label for="name">Ваше Имя: </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="email" class="form-control" id="email" placeholder="Your Email">
                                        <label for="email">Ваш e-mail: </label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="subject" placeholder="Subject">
                                        <label for="subject">Тема: </label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="Leave a message here" id="message" style="height: 190px"></textarea>
                                        <label for="message">Сообщение: </label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Отправить письмо</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}